﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>CDataBase操作Excel</title>
<meta name="GENERATOR" content="WinCHM">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
html,body { 
	/* Default Font */
	font-family: 宋体, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
</style>

</head>

<body>
<P><FONT color=#000000>/////////////////////////////////////////////////////////////////////////////<BR> 
//功能：创建并写入数据到Excel文件中<BR>//日期：2002.9.1<BR>/////////////////////////////////////////////////////////////////////////////&nbsp;<BR>**********************************************************************/<BR>void 
CCountingDlg::SaveAsExcelFile(LPCTSTR filename)<BR>{<BR>&nbsp;CDatabase 
database;<BR>&nbsp;</FONT><FONT color=#000000>CString sDriver =    
 "MICROSOFT EXCEL DRIVER      (*.XLS)";// 
Excel安装驱动<BR>&nbsp;CString sSql;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<BR>&nbsp;TRY<BR>&nbsp;{<BR>&nbsp;&nbsp;// 
创建进行存取的字符串<BR>&nbsp;&nbsp;sSql.Format("<FONT color=#ff0000>DRIVER={%s};DSN='';FIRSTROWHASNAMES=1;READONLY=FALSE;CREATE_DB=\"%s\";DBQ=%s",sDriver,filename,filename</FONT> 
 );<BR>&nbsp;&nbsp;<BR>&nbsp;&nbsp;// 创建数据库 
(既Excel表格文件)<BR>&nbsp;&nbsp;if( database.<FONT color=#ff0000>OpenEx</FONT> (sSql, 
CDatabase::noOdbcDialog)   
)<BR>&nbsp;&nbsp;{<BR>&nbsp;&nbsp;&nbsp;// 
创建表结构(姓名、年龄)<BR>&nbsp;&nbsp;&nbsp;sSql = "CREATE TABLE 统计结果 (文件名 TEXT, 所在文件夹 
TEXT, 总行数 NUMBER, 代码行 NUMBER, 注释行 NUMBER, 空白行 NUMBER, 类型 
TEXT)";<BR>&nbsp;&nbsp;&nbsp;database.ExecuteSQL(sSql);<BR>&nbsp;&nbsp;&nbsp;<BR>&nbsp;&nbsp;&nbsp;&nbsp;sSql.Format("INSERT INTO 
统计结果 (文件名, 所在文件夹, 总行数, 代码行, 注释行, 空白行, 类型) VALUES ('%s', '%s', %d, %d, %d, %d, 
'%s')",<BR>&nbsp;&nbsp;&nbsp;&nbsp;m_ctlResult.GetItemText(i, 0), 
m_ctlResult.GetItemText(i, 
1),<BR>&nbsp;&nbsp;&nbsp;&nbsp;atoi(m_ctlResult.GetItemText(i, 2)), 
atoi(m_ctlResult.GetItemText(i, 
3)),<BR>&nbsp;&nbsp;&nbsp;&nbsp;atoi(m_ctlResult.GetItemText(i, 4)), 
atoi(m_ctlResult.GetItemText(i, 
5)),<BR>&nbsp;&nbsp;&nbsp;&nbsp;m_ctlResult.GetItemText(i, 
6));</FONT> </P>
<P><FONT color=#000000>&nbsp;&nbsp;&nbsp;&nbsp;database.<FONT color=#ff0000>ExecuteSQL</FONT>(sSql);&nbsp;</FONT></P>
<P><FONT color=#000000>&nbsp;&nbsp;&nbsp;sSql.Format("INSERT INTO 统计结果 (文件名) VALUES 
('总计')");<BR>&nbsp;&nbsp;&nbsp;database.ExecuteSQL(sSql);</FONT></P>
<P><FONT color=#000000>&nbsp;&nbsp;&nbsp;sSql.Format("INSERT INTO 统计结果 (文件名, 所在文件夹) VALUES ('总文件数', 
'%d')", m_nFiles);<BR>&nbsp;&nbsp;&nbsp;database.ExecuteSQL(sSql);</FONT></P>
<P><FONT color=#000000>&nbsp;&nbsp;&nbsp;CString strUnit =   "test";<BR>&nbsp;&nbsp;&nbsp;sSql.Format("INSERT 
INTO 统计结果 (文件名, 所在文件夹) VALUES ('总大小', '%.2f%s')", fSize, 
strUnit);<BR>&nbsp;&nbsp;&nbsp;database.ExecuteSQL(sSql);</FONT></P>
<P><FONT color=#000000>&nbsp;&nbsp;&nbsp;sSql.Format("INSERT INTO 统计结果 (文件名, 所在文件夹) VALUES ('总行数', 
'%d（100%%）')", 
m_nTotalLines);<BR>&nbsp;&nbsp;&nbsp;database.ExecuteSQL(sSql);</FONT></P>
<P><FONT color=#000000>&nbsp;&nbsp;&nbsp;sSql.Format("INSERT INTO 统计结果 (文件名, 所在文件夹) VALUES ('代码行', 
'%d（%2.1f%%）')", m_nCodeLines, 
100.*m_nCodeLines/m_nTotalLines);<BR>&nbsp;&nbsp;&nbsp;database.ExecuteSQL(sSql);</FONT></P>
<P><FONT color=#000000>&nbsp;&nbsp;&nbsp;sSql.Format("INSERT INTO 统计结果 (文件名, 所在文件夹) VALUES ('注释行', 
'%d（%2.1f%%）')", m_nCommentLines, 
100.*m_nCommentLines/m_nTotalLines);<BR>&nbsp;&nbsp;&nbsp;database.ExecuteSQL(sSql);</FONT></P>
<P><FONT color=#000000>&nbsp;&nbsp;&nbsp;sSql.Format("INSERT INTO 统计结果 (文件名, 所在文件夹) VALUES ('空白行', 
'%d（%2.1f%%）')", m_nBlankLines, 
100.*m_nBlankLines/m_nTotalLines);<BR>&nbsp;&nbsp;&nbsp;database.ExecuteSQL(sSql);<BR>&nbsp;&nbsp;}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<BR>&nbsp;&nbsp;<BR>&nbsp;&nbsp;// 
关闭数据库<BR>&nbsp;&nbsp;database.Close();<BR>&nbsp;&nbsp;<BR>&nbsp;&nbsp;AfxMessageBox("Excel文件保存成功！");<BR>&nbsp;}<BR>&nbsp;CATCH_ALL(e)<BR>&nbsp;{<BR>&nbsp;&nbsp;TRACE1("Excel驱动没有安装: 
%s",sDriver);<BR>&nbsp;}<BR>&nbsp;END_CATCH_ALL;<BR>}</FONT></P></FONT></BODY></HTML>