﻿<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns="http://www.w3.org/TR/REC-html40"><head><meta http-equiv=Content-Type  content="text/html; charset=UTF-8" ><title>二维数组和指针</title><!--[if gte mso 9]><xml><w:WordDocument><w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel><w:DisplayHorizontalDrawingGridEvery>0</w:DisplayHorizontalDrawingGridEvery><w:DisplayVerticalDrawingGridEvery>2</w:DisplayVerticalDrawingGridEvery><w:DocumentKind>DocumentNotSpecified</w:DocumentKind><w:DrawingGridVerticalSpacing>7.8</w:DrawingGridVerticalSpacing><w:View>Web</w:View><w:Compatibility></w:Compatibility><w:Zoom>0</w:Zoom></w:WordDocument></xml><![endif]--><style>
@font-face{
font-family:"Times New Roman";
}

@font-face{
font-family:"&#23435;&#20307;";
}

@font-face{
font-family:"Symbol";
}

@font-face{
font-family:"Arial";
}

@font-face{
font-family:"&#40657;&#20307;";
}

@font-face{
font-family:"Courier New";
}

@font-face{
font-family:"Wingdings";
}

p.p0{
margin:0pt;
margin-bottom:0.0001pt;
margin-bottom:0pt;
margin-top:0pt;
font-size:10.0000pt; font-family:'Times New Roman'; }
@page{mso-page-border-surround-header:no;
	mso-page-border-surround-footer:no;}@page Section0{
}
div.Section0{page:Section0;}</style></head><body style="tab-interval: 36pt" ><!--StartFragment--><div class="Section0" ><p class=p0  style="MARGIN-TOP: 0pt; MARGIN-BOTTOM: 0pt"><span style="FONT-FAMILY: 'Times New Roman'; FONT-SIZE: 10pt; mso-spacerun: 'yes'"><o:p>二维数组和指针<BR><STRONG>⑴ 用指针表示二维数组元素</STRONG> 
<BR>要用指针处理二维数组，首先要解决从存储的角度对二维数组的认识问题。我们知道，一个二维数组在计算机中存储时，是按照先行后列的顺序依次存储的，当把每一行看作一个整体，即视为一个大的数组元素时，这个存储的二维数组也就变成了一个一维数组了。而每个大数组元素对应二维数组的一行，我们就称之为行数组元素，显然每个行数组元素都是一个一维数组<BR><BR></o:p></span></p><p class=p0  style="MARGIN-TOP: 0pt; MARGIN-BOTTOM: 0pt"><span style="FONT-FAMILY: 'Times New Roman'; FONT-SIZE: 10pt; mso-spacerun: 'yes'"><o:p>下面我们讨论指针和二维数组元素的对应关系，清楚了二者之间的关系，就能用指针处理二维数组了。<BR>设p是指向数组a的指针变量，若有：<BR>p=a[0];<BR>则p+j将指向a[0]数组中的元素a[0][j]。<BR>由于a[0]、a[1]┅a[M-1]等各个行数组依次连续存储，则对于a数组中的任一元素a[i][j]，指针的一般形式如下：<BR>p+i*N+j<BR>元素a[i][j]相应的指针表示为：<BR>*( 
p+i*N+j)<BR>同样，a[i][j]也可使用指针下标法表示，如下：<BR>p[i*N+j]<BR>例如，有如下定义：<BR>int 
a[3][4]={{10,20,30,40,},{50,60,70,80},{90,91,92,93}};<BR>则数组a有3个元素，分别为a[0]、a[1]、a[2]。而每个元素都是一个一维数组，各包含4个元素，如a[1]的4个元素是a[1][0]、a[1][1]、a[1]2]、a[1][3]。<BR>若有：<BR>int 
*p=a[0];<BR>则数组a的元素a[1][2]对应的指针为：p+1*4+2<BR>元素a[1][2]也就可以表示为：*( 
p+1*4+2)<BR>用下标表示法，a[1][2]表示为：p[1*4+2]<BR><FONT color=#ff00ff>特别说明：</FONT><BR>对上述二维数组a，虽然a[0]、a都是数组首地址，但二者指向的对象不同，a[0]是一维数组的名字，它指向的是a[0]数组的首元素，对其进行“*”运算，得到的是一个数组元素值，即a[0]数组首元素值，因此，*a[0]与a[0][0]是同一个值；而a是一个二维数组的名字，它指向的是它所属元素的首元素，它的每一个元素都是一个行数组，因此，它的指针移动单位是“行”，所以a+i指向的是第i个行数组，即指向a[i]。对a进行“*”运算，得到的是一维数组a[0]的首地址，即*a与a[0]是同一个值。当用int 
*p;定义指针p时，p的指向是一个int型数据，而不是一个地址，因此，用a[0]对p赋值是正确的，而用a对p赋值是错误的。这一点请读者务必注意。<BR><FONT color=#ff00ff>一个是指向整个数据的第一个数据的指针，一个是指向第一行的指针</FONT></o:p></span></p><p class=p0  style="MARGIN-TOP: 0pt; MARGIN-BOTTOM: 0pt"><span style="FONT-FAMILY: 'Times New Roman'; FONT-SIZE: 10pt; mso-spacerun: 'yes'"><o:p>如上所述，动态申请一个二维数组需先动态申请一个行数组，再动态申请列数组，参考如下：</o:p></span></p><span style="FONT-FAMILY: 'Times New Roman'; FONT-SIZE: 10pt; mso-spacerun: 'yes'"><o:p></div>
<P 
style="TEXT-ALIGN: left; PADDING-BOTTOM: 0px; WIDOWS: 2; TEXT-TRANSFORM: none; BACKGROUND-COLOR: rgb(215,242,244); TEXT-INDENT: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; LETTER-SPACING: normal; PADDING-RIGHT: 0px; FONT: 14px/25px Arial, Helvetica, simsun, u5b8bu4f53; WHITE-SPACE: normal; ORPHANS: 2; COLOR: rgb(0,0,0); WORD-SPACING: 0px; PADDING-TOP: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px"><FONT size=2>首先申请一个大小为row的指针数组：int **p= 
 new int*[row]； </FONT><FONT size=2>再为每一个row分配大小为col的内存：<BR></FONT><FONT size=2>&nbsp;for (int h=0;h&lt;row;h++)<BR style="LINE-HEIGHT: 25px">&nbsp;{<BR 
style="LINE-HEIGHT: 25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;p[h] = new int[col];//<FONT color=#ff0000>申请的是一个行指针，并非第一个数据的指针，切记</FONT>&nbsp;&nbsp;<BR>&nbsp;&nbsp;&nbsp;&nbsp;</FONT><FONT size=2>//ZeroMemory(pMyLine,Alpha*sizeof(stArray));//<FONT color=#ff0000>这样是把行指针又归0了，并没有把其指向的具体数据初始化0<BR 
style="LINE-HEIGHT: 25px"></FONT>&nbsp;}</FONT>&nbsp;<BR>初始化二维数组的话用2个for循环即可，切记不能对申请出来的行指针使用ZeroMemory<BR></P>
<P 
style="TEXT-ALIGN: left; PADDING-BOTTOM: 0px; WIDOWS: 2; TEXT-TRANSFORM: none; BACKGROUND-COLOR: rgb(215,242,244); TEXT-INDENT: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; LETTER-SPACING: normal; PADDING-RIGHT: 0px; FONT: 14px/25px Arial, Helvetica, simsun, u5b8bu4f53; WHITE-SPACE: normal; ORPHANS: 2; COLOR: rgb(0,0,0); WORD-SPACING: 0px; PADDING-TOP: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px">二维数组的释放需先释放指针数组的每个元素指向的数组，然后再释放该指针数组如下：<BR>for(int 
i=0;i&lt;row;i++)<BR>{<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; delete[] 
p[i];//二维数组的释放需先释放指针数组的每个元素指向的数组<BR>}<BR>delete[] p;//再释放该指针数</P>
<P 
style="TEXT-ALIGN: left; PADDING-BOTTOM: 0px; WIDOWS: 2; TEXT-TRANSFORM: none; BACKGROUND-COLOR: rgb(215,242,244); TEXT-INDENT: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; LETTER-SPACING: normal; PADDING-RIGHT: 0px; FONT: 14px/25px Arial, Helvetica, simsun, u5b8bu4f53; WHITE-SPACE: normal; ORPHANS: 2; COLOR: rgb(0,0,0); WORD-SPACING: 0px; PADDING-TOP: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px"><FONT color=#ff00ff>二维数组的动态申请相对麻烦一点，使用二维数组的一维表示方法更方便<BR>int 
*p=new int[row*col];<BR>a[i][j]指针表示方法： p+i*Col+j<BR>delete[] 
p;<BR>相比上面的动态二维数组方便多了<BR></FONT></P><div class="Section0" ><p class=p0  style="MARGIN-TOP: 0pt; MARGIN-BOTTOM: 0pt"> 
<BR><BR><STRONG>⑵ 
用二维数组名作地址表示数组元素</STRONG> 
<BR>另外，由上述说明，我们还可以得到二维数组元素的一种表示方法：<BR>对于二维数组a，其a[0]数组由a指向，a[1]数组则由a+1指向，a[2]数组由a+2指向，以此类推。因此，*a与a[0]等价、*(a+1)与a[1]等价、*(a+2)与a[2]等价，┅，即对于a[i]数组，由*(a+i)指向。由此，对于数组元素a[i][j]，用数组名a的表示形式为：<BR>*(*(a+i)+j)<BR>指向该元素的指针为：<BR>*(a+i)+j<BR>数组名虽然是数组的地址，但它和指向数组的指针变量不完全相同。指针变量的值可以改变，即它可以随时指向不同的数组或同类型变量，而数组名自它定义时起就确定下来，不能通过赋值的方式使该数组名指向另外一个数组。<BR>例4 
求二维数组元素的最大值。<BR>&nbsp;<BR>该问题只需对数组元素遍历，即可求解。因此，可以通过顺序移动数组指针的方法实现。<BR>main()<BR>{<BR>int 
a[3][4]={{3,17,8,11},{66,7,8,19},{12,88,7,16}};<BR>int 
*p,max;<BR>for(p=a[0],max=*p;p&lt;a[0]+12;p++)<BR>{<BR>&nbsp;&nbsp; 
if(*p&gt;max)<BR>&nbsp;&nbsp; {<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
max=*p;<BR>&nbsp;&nbsp; 
}<BR>}<BR>printf("MAX=%d/n",max);<BR>}<BR>执行结果：<BR>MAX=88<BR>这个程序的主要算法都是在for语句中实现的：p是一个int型指针变量；p=a[0]是置数组的首元素地址为指针初值；max=*p将数组的首元素值a[0][0]作为最大值初值；p&lt;a[0]+12是将指针的变化范围限制在12个元素的位置内；p++使得每比较一个元素后，指针后移一个元素位置。<BR>例5 
求二维数组元素的最大值，并确定最大值元素所在的行和列。<BR>本例较之上例有更进一步的要求，需要在比较的过程中，把较大值元素的位置记录下来，显然仅用上述指针移动方法是不行的，需要使用能提供行列数据的指针表示方法。<BR>main()<BR>{<BR>int 
a[3][4]={{3,17,8,11},{66,7,8,19},{12,88,7,16}};<BR>int 
*p=a[0],max,i,j,row,col;<BR>max=a[0][0];<BR>row=col=0;<BR>for(i=0;i&lt;3;i++)<BR>&nbsp;&nbsp; 
for(j=0;j&lt;4;j++)<BR>&nbsp;&nbsp;&nbsp;&nbsp; 
if(*(p+i*4+j)&gt;max)<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
{<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
max=*(p+i*4+j);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
row=i;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
col=j;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
}<BR>printf("a[%d][%d]=%d/n",row,col,max);<BR>}<BR>程序运行结果：<BR>a[2][1]=88<BR><BR><STRONG>⑶ 
行数组指针</STRONG> 
<BR>在上面的说明中我们已经知道，二维数组名是指向行的，它不能对如下说明的指针变量p直接赋值：<BR>int 
a[3][4]={{10,11,12,13},{20,21,22,23},{30,31,32,33}},*p;<BR>其原因就是p与a的对象性质不同，或者说二者不是同一级指针。C语言可以通过定义行数组指针的方法，使得一个指针变量与二维数组名具有相同的性质。行数组指针的定义方法如下：<BR>数据类型 
(*指针变量名)[二维数组列数]；<BR>例如，对上述a数组，行数组指针定义如下：<BR>int 
(*p)[4];<BR>它表示，数组*p有4个int型元素，分别为(*p)[0]、(*p)[1]、(*p)[2]、(*p)[3] 
，亦即p指向的是有4个int型元素的一维数组，即p为行指针<BR>此时，可用如下方式对指针p赋值：<BR>p=a;</o:p></SPAN></p><p class=p0  style="MARGIN-TOP: 0pt; MARGIN-BOTTOM: 0pt"><span style="FONT-FAMILY: 'Times New Roman'; FONT-SIZE: 10pt; mso-spacerun: 'yes'"><o:p></o:p></span>&nbsp;</p></div><!--EndFragment-->
<DIV></DIV>
<DIV></DIV>
<DIV></DIV>
<DIV></DIV>
<DIV></DIV></body>