html {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
body {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
div {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
span {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
applet {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
object {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
iframe {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h1 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h2 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h3 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h4 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h5 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h6 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
p {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
blockquote {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
pre {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
a {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
abbr {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
acronym {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
address {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
big {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
cite {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
code {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
del {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dfn {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
em {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
img {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ins {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
kbd {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
q {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
s {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
samp {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
small {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
strike {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
strong {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sub {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sup {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tt {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
var {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
b {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
u {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
i {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
center {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dl {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dt {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dd {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ol {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ul {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
li {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
fieldset {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
form {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
label {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
legend {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
table {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
caption {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tbody {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tfoot {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
thead {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tr {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
th {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
td {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
aside {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
canvas {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
details {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
embed {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figure {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figcaption {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
footer {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
header {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
hgroup {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
menu {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
nav {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
output {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ruby {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
section {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
summary {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
time {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
mark {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
audio {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
video {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
body {
	line-height: 1; text-shadow: none;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
h1 {
	line-height: 165%; clear: both; font-weight: 700; word-wrap: break-word;
}
h2 {
	line-height: 165%; clear: both; font-weight: 700; word-wrap: break-word;
}
h3 {
	line-height: 165%; clear: both; font-weight: 700; word-wrap: break-word;
}
h4 {
	line-height: 165%; clear: both; font-weight: 700; word-wrap: break-word;
}
h5 {
	line-height: 165%; clear: both; font-weight: 700; word-wrap: break-word;
}
h6 {
	line-height: 165%; clear: both; font-weight: 700; word-wrap: break-word;
}
p {
	line-height: 165%; word-wrap: break-word;
}
pre {
	margin: 5px; padding: 5px; overflow: auto; font-family: courier,Georgia,Serif;
}
pre {
	white-space: pre-wrap; word-wrap: break-word; _white-space: pre;
}
a {
	text-decoration: none;
}
abbr {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
.abbr {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
acronym {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
address {
	margin: 0px 0px 0px 1.62em; display: block;
}
cite {
	font-style: italic;
}
em {
	font-style: italic;
}
i {
	font-style: italic;
}
blockquote em {
	font-style: normal;
}
blockquote i {
	font-style: normal;
}
blockquote cite {
	font-style: normal;
}
blockquote {
	padding-left: 15px; font-family: Georgia, serif; font-style: italic; margin-left: 15px; border-left-color: rgb(221, 221, 221); border-left-width: 5px; border-left-style: solid;
}
sup {
	height: 0px; line-height: 1; vertical-align: baseline; position: relative;
}
sub {
	height: 0px; line-height: 1; vertical-align: baseline; position: relative;
}
sup {
	bottom: 1ex;
}
sub {
	top: 0.5ex;
}
dt {
	font-weight: 700;
}
strong {
	font-weight: 700;
}
del {
	text-decoration: line-through;
}
strike {
	text-decoration: line-through;
}
s {
	text-decoration: line-through;
}
ins {
	text-decoration: none; background-color: rgb(254, 238, 175);
}
a img {
	border: 0px currentColor;
}
* html .clearfix {
	zoom: 1;
}
.clear {
	margin: 0px; padding: 0px; height: 0px; line-height: 1px; clear: both; visibility: hidden;
}
input {
	font-family: Helvetica, Arial, sans-serif;
}
textarea {
	overflow: auto;
}
.alignnone {
	margin: 5px 20px 20px 0px;
}
.aligncenter {
	margin: 5px auto; display: block;
}
div.aligncenter {
	margin: 5px auto; display: block;
}
.alignright {
	margin: 5px 0px 20px 20px; float: right;
}
.alignleft {
	margin: 5px 20px 20px 0px; float: left;
}
body {
	padding: 30px; background-color: rgb(221, 221, 221); text-shadow: none;
}
#wrapper {
	margin: 0px auto; border-radius: 5px; text-align: left; overflow: hidden; box-shadow: 0px 0px 3px rgba(128,128,128,0.4); background-color: rgb(255, 255, 255); -webkit-box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.4); -moz-box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.4); -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
#content {
	overflow: hidden; border-right-color: rgb(170, 170, 170); border-left-color: rgb(170, 170, 170); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
.container {
	padding: 25px; float: left; background-image: url("images/content_inner_shadow.png"); background-repeat: repeat-x;
}
.full-container {
	padding: 25px; float: left; background-image: url("images/content_inner_shadow.png"); background-repeat: repeat-x;
}
.widget-area {
	padding: 25px; float: left; background-image: url("images/content_inner_shadow.png"); background-repeat: repeat-x;
}
.tablayout {
	width: 100%;
}
.tablayout td {
	vertical-align: middle;
}
#header {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(170, 170, 170) rgb(170, 170, 170) currentColor; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(47, 40, 34); -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}
#header .tablayout td {
	padding: 0px 20px; width: 50%;
}
.site-title {
	color: rgb(255, 255, 255); font-family: "Helvetica Nue",Arial,sans-serif !important; font-size: 30px; text-shadow: #1a1613 1px 1px;
}
.site-title a {
	color: rgb(255, 255, 255);
}
.site-desc {
	color: rgb(173, 160, 152); font-family: "Helvetica Nue",Arial,sans-serif !important; font-size: 11px;
}
#s {
	padding: 8px; border-radius: 3px; border: 0px currentColor; color: rgb(119, 119, 119); font-size: 12px; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
#searchsubmit {
	background: url("images/grad.png") repeat-x left top; padding: 6px 8px 7px; border-radius: 3px; border: 1px solid currentColor; color: rgb(255, 255, 255); font-weight: 700; vertical-align: middle; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
#header #searchform {
	display: inline-block; zoom: 1; min-height: 32px; _height: 32px;
}
.social-icons {
	margin-left: 5px; display: inline-block; zoom: 1; min-height: 32px; _height: 32px;
}
.social-icons img {
	vertical-align: middle;
}
.main-menu {
	overflow: hidden;
}
.main-menu ul {
	list-style: none; margin: 0px !important;
}
.main-menu ul ul {
	list-style: none; margin: 0px !important;
}
.main-menu ul li {
	float: left;
}
.main-menu ul li a {
	text-transform: capitalize; font-size: 13px; font-weight: 700; display: block;
}
.main-menu ul ul {
	width: 140px; visibility: hidden; position: absolute; z-index: 999;
}
.main-menu ul ul li {
	width: 140px; position: relative; word-wrap: break-word;
}
.main-menu ul ul ul {
	left: 139px; top: 0px; position: absolute;
}
.main-menu ul li:hover > ul {
	visibility: visible;
}
.main-menu a {
	padding: 20px 7px; color: rgb(68, 68, 68); font-size: 13px; font-weight: 700; text-shadow: #e5e5e5 1px 1px;
}
.main-menu {
	background: url("images/grad_dark.png") repeat-x left bottom rgb(221, 221, 221); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(170, 170, 170) rgb(153, 153, 153);
}
.main-menu li {
	background-position: left; background-image: url("images/menu_sep.png"); background-repeat: no-repeat;
}
.main-menu li:first-child {
	background-image: none;
}
.main-menu li li a {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(170, 170, 170) rgb(170, 170, 170); padding: 15px 7px; background-image: none; background-color: rgb(229, 229, 229);
}
.main-menu li li:first-child a {
	border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid;
}
.main-menu li li li a {
	border-top-color: currentColor !important; border-top-width: 0px !important; border-top-style: none !important;
}
.main-menu li li li:first-child a {
	border-top-color: rgb(153, 153, 153) !important; border-top-width: 1px !important; border-top-style: solid !important;
}
.main-menu a:hover {
	color: rgb(0, 0, 0); text-shadow: #e5e5e5 1px 1px;
}
.main-menu li li a:hover {
	background-color: rgb(245, 245, 245);
}
.main-menu .current-menu-item a {
	color: rgb(0, 0, 0);
}
.main-menu ul li.hasDownChild a {
	background-position: right; padding-right: 21px; background-image: url("images/nav_arrow_down.png"); background-repeat: no-repeat;
}
.main-menu ul li.hasDownChild li a {
	padding-right: 7px; background-image: none;
}
.main-menu ul li li.hasRightChild a {
	background-position: right; padding-right: 21px; background-image: url("images/nav_arrow_right.png"); background-repeat: no-repeat;
}
.main-menu ul li li.hasRightChild li a {
	padding-right: 7px; background-image: none;
}
.main-menu ul ul {
	box-shadow: 0px 0px 2px #aaa; -webkit-box-shadow: 0 0 2px #aaa; -moz-box-shadow: 0 0 2px #aaa;
}
.main-menu ul ul ul {
	box-shadow: 1px 1px 2px #aaa; -webkit-box-shadow: 1px 1px 2px #aaa; -moz-box-shadow: 1px 1px 2px #aaa;
}
.widget {
	margin-top: 40px;
}
:first-child.widget {
	margin-top: 0px;
}
.widget-title {
	color: rgb(34, 34, 34); padding-bottom: 10px; font-size: 13px; margin-bottom: 20px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.widget ul li {
	line-height: 165%; padding-left: 5px; margin-top: 8px; margin-left: 15px; list-style-position: outside; list-style-image: url("images/bullet.png");
}
.widget a:hover {
	text-decoration: underline;
}
.widget #s {
	border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(221, 221, 221) rgb(221, 221, 221) rgb(204, 204, 204); width: 55%;
}
.widget #searchsubmit {
	width: 33%;
}
#wp-calendar {
	border: 1px solid rgb(204, 204, 204); width: 100%;
}
#wp-calendar td {
	padding: 4px; border: 1px solid rgb(204, 204, 204); text-align: center;
}
#wp-calendar th {
	padding: 4px; border: 1px solid rgb(204, 204, 204); text-align: center;
}
#wp-calendar caption {
	padding: 4px; border: 1px solid rgb(204, 204, 204); text-align: center;
}
#wp-calendar caption {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
#wp-calendar #prev {
	text-align: left;
}
#wp-calendar #next {
	text-align: right;
}
.tagcloud a {
	padding: 5px; border-radius: 3px; color: rgb(68, 68, 68) !important; font-size: 12px !important; margin-bottom: 5px; display: inline-block; background-color: rgb(255, 255, 255); -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.tagcloud a:hover {
	background-color: rgb(253, 201, 104);
}
.widget p {
	margin-top: 15px;
}
.widget p:first-child {
	margin-top: 0px;
}
#slider_container {
	padding: 20px 0px; border-right-color: rgb(170, 170, 170); border-bottom-color: rgb(204, 204, 204); border-left-color: rgb(170, 170, 170); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; background-image: url("images/content_inner_shadow.png"); background-repeat: repeat-x;
}
.slideshow {
	background: url("images/slider_bg.png") repeat-x rgb(247, 247, 247); margin: 0px 25px; padding: 20px; border: 1px solid rgb(204, 204, 204); box-shadow: 0px 0px 2px #ccc; -webkit-box-shadow: 0 0 2px #ccc; -moz-box-shadow: 0 0 2px #ccc;
}
#coin-slider {
	border: 1px solid rgb(204, 204, 204);
}
.slide-title {
	text-shadow: #000 0 0 5px;
}
.slide-desc {
	line-height: 165%; font-size: 13px; margin-top: 10px; text-shadow: #000 0 0 5px;
}
.entry-title {
	color: rgb(0, 0, 0); margin-bottom: 10px;
}
.entry-title a {
	color: rgb(68, 68, 68);
}
.entry-title a:hover {
	color: rgb(0, 0, 0);
}
h2.entry-title {
	font-size: 19px;
}
h1.entry-title {
	font-size: 24px;
}
.title_header {
	padding: 40px 0px; margin-bottom: 20px;
}
.title_header_text {
	background: url("images/header_title_text_bg.png"); padding: 10px; color: rgb(255, 255, 255); text-shadow: #000 0 0 5px;
}
.entry-meta {
	color: rgb(136, 136, 136); font-size: 11px; margin-bottom: 15px;
}
.entry-meta a:hover {
	color: rgb(51, 51, 51);
}
.entry-date {
	background: url("images/calendar_icon.png") no-repeat left; padding-left: 21px; margin-right: 10px;
}
.entry-author {
	background: url("images/author_icon.png") no-repeat left; padding-left: 21px; margin-right: 10px;
}
.entry-comments {
	background: url("images/comment_icon.png") no-repeat left; padding-left: 21px; margin-right: 10px;
}
.post-edit-link {
	background: url("images/edit_icon.png") no-repeat left; padding-left: 21px; margin-right: 10px;
}
article.post {
	overflow: hidden; padding-bottom: 20px; margin-bottom: 20px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
article.page {
	overflow: hidden; padding-bottom: 20px; margin-bottom: 20px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
article.type-attachment {
	overflow: hidden; padding-bottom: 20px; margin-bottom: 20px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
article.slide {
	overflow: hidden; padding-bottom: 20px; margin-bottom: 20px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
article.portfolio {
	overflow: hidden; padding-bottom: 20px; margin-bottom: 20px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
.entry-content {
	line-height: 165%; overflow: hidden;
}
.entry-content a:hover {
	text-decoration: underline;
}
.entry-content * {
	line-height: 165%; margin-bottom: 15px;
}
.entry-content *:last-child {
	margin-bottom: 0px;
}
.entry-content .wp-smiley {
	margin-bottom: 0px !important;
}
.entry-content br {
	margin-bottom: 0px !important;
}
.entry-content h1 {
	font-size: 24px;
}
.entry-content h2 {
	font-size: 20px;
}
.entry-content h3 {
	font-size: 17px;
}
.entry-content h4 {
	font-size: 15px;
}
.entry-content h5 {
	font-size: 13px;
}
.entry-content h6 {
	font-size: 12px;
}
.entry-content li {
	margin-bottom: 10px;
}
.entry-content ul {
	margin-left: 20px;
}
.entry-content ul ul {
	margin-left: 20px;
}
.entry-content ol {
	list-style: decimal; margin-left: 25px;
}
.entry-content ol ol {
	margin-left: 20px;
}
.entry-content ul ul {
	margin-top: 10px;
}
.entry-content ol ol {
	margin-top: 10px;
}
.entry-content ol ol {
	list-style: upper-alpha;
}
.entry-content ol ol ol {
	list-style: lower-roman;
}
.entry-content ol ol ol ol {
	list-style: lower-alpha;
}
.entry-content table {
	border: 1px solid rgb(204, 204, 204);
}
.entry-content table td {
	padding: 5px; border: 1px solid rgb(204, 204, 204);
}
.entry-content table th {
	padding: 5px; border: 1px solid rgb(204, 204, 204);
}
.entry-content table th {
	font-weight: 700; background-color: rgb(229, 229, 229); text-shadow: #f5f5f5 1px 1px;
}
.entry-content table caption {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor; padding: 5px;
}
.more-link {
	background: url("images/grad.png") repeat-x left top rgb(236, 236, 236); font: 700 11px/normal sans-serif; margin: 0px; padding: 0.5em 1em; border-radius: 3px; border: 1px solid rgb(212, 212, 212); color: rgb(68, 68, 68) !important; overflow: visible; clear: both; text-decoration: none; display: inline-block; white-space: nowrap; position: relative; cursor: pointer; zoom: 1; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 1px 0 #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.more-link:hover {
	color: rgb(255, 255, 255) !important; text-decoration: none !important;
}
.page-link {
	clear: both;
}
.page-link span {
	padding: 6px !important; border-radius: 3px; border: 1px solid currentColor; line-height: 100%; overflow: visible; font-weight: 700; margin-bottom: 0px !important; display: inline-block; position: relative; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.page-link a:hover span {
	background: url("images/grad.png") repeat-x left top; color: rgb(255, 255, 255) !important;
}
.page-link span {
	background: url("images/grad.png") repeat-x left top; color: rgb(255, 255, 255) !important;
}
.page-link a span {
	border-color: rgb(221, 221, 221); color: rgb(68, 68, 68) !important; text-decoration: none !important; background-color: rgb(236, 236, 236); text-shadow: #fff 1px 1px;
}
.page-link .pages-title {
	border: 0px currentColor; color: rgb(68, 68, 68) !important; text-shadow: none;
}
.entry-content input[type='submit'] {
	background: url("images/grad.png") repeat-x left top; padding: 5px 8px 6px; border-radius: 3px; border: 1px solid currentColor; color: rgb(255, 255, 255); font-weight: 700; margin-bottom: 10px; vertical-align: middle; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.entry-content input[type='reset'] {
	background: url("images/grad.png") repeat-x left top; padding: 5px 8px 6px; border-radius: 3px; border: 1px solid currentColor; color: rgb(255, 255, 255); font-weight: 700; margin-bottom: 10px; vertical-align: middle; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.entry-content input[type='button'] {
	background: url("images/grad.png") repeat-x left top; padding: 5px 8px 6px; border-radius: 3px; border: 1px solid currentColor; color: rgb(255, 255, 255); font-weight: 700; margin-bottom: 10px; vertical-align: middle; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.entry-content input[type='text'] {
	border-width: 1px !important; border-style: solid !important; border-color: rgb(119, 119, 119) rgb(170, 170, 170) rgb(170, 170, 170) rgb(119, 119, 119) !important; padding: 5px; color: rgb(102, 102, 102); margin-bottom: 10px; vertical-align: middle;
}
.entry-content input[type='password'] {
	border-width: 1px !important; border-style: solid !important; border-color: rgb(119, 119, 119) rgb(170, 170, 170) rgb(170, 170, 170) rgb(119, 119, 119) !important; padding: 5px; color: rgb(102, 102, 102); margin-bottom: 10px; vertical-align: middle;
}
.entry-content textarea {
	border-width: 1px !important; border-style: solid !important; border-color: rgb(119, 119, 119) rgb(170, 170, 170) rgb(170, 170, 170) rgb(119, 119, 119) !important; padding: 5px; color: rgb(102, 102, 102); margin-bottom: 10px; vertical-align: middle;
}
.entry-utility {
	padding-top: 15px; margin-top: 15px; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
.entry-utility a:hover {
	text-decoration: underline;
}
.entry-utility p {
	margin-top: 10px;
}
.entry-utility p:first-child {
	margin-top: 0px;
}
.entry-utility .utility-title {
	font-weight: 700;
}
.entry-thumb {
	width: 200px; float: left;
}
.entry-thumb img {
	background: rgb(245, 245, 245); padding: 3px; border: 1px solid rgb(229, 229, 229); height: auto !important; max-width: 200px;
}
.entry-magazine {
	margin-left: 30px; float: left;
}
#author-info {
	padding: 15px; border-radius: 5px; border: 1px solid rgb(229, 229, 229); overflow: hidden; margin-top: 15px; background-color: rgb(238, 238, 238); -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
#author-info a:hover {
	text-decoration: underline;
}
#author-avatar {
	width: 11%; float: left;
}
#author-avatar img {
	padding: 3px; border: 1px solid rgb(221, 221, 221); background-color: rgb(255, 255, 255);
}
#author-description {
	width: 85%; margin-left: 4%; float: left;
}
.entry-share {
	padding-top: 15px; margin-top: 15px; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
.entry-share-title {
	font-weight: 700;
}
.entry-share-item {
	margin-left: 5px;
}
.entry-share-item img {
	vertical-align: middle;
}
.sticky {
	
}
.bypostauthor {
	
}
.navigation a {
	background: url("images/grad.png") repeat-x left top rgb(236, 236, 236); font: 700 11px/normal sans-serif; margin: 0px 5px 0px 0px; padding: 0.5em 1em; border-radius: 3px; border: 1px solid rgb(212, 212, 212); color: rgb(68, 68, 68) !important; overflow: visible; text-decoration: none; display: inline-block; white-space: nowrap; position: relative; cursor: pointer; zoom: 1; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 1px 0 #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.single-navigation span a {
	background: url("images/grad.png") repeat-x left top rgb(236, 236, 236); font: 700 11px/normal sans-serif; margin: 0px 5px 0px 0px; padding: 0.5em 1em; border-radius: 3px; border: 1px solid rgb(212, 212, 212); color: rgb(68, 68, 68) !important; overflow: visible; text-decoration: none; display: inline-block; white-space: nowrap; position: relative; cursor: pointer; zoom: 1; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 1px 0 #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.navigation a:hover {
	color: rgb(255, 255, 255) !important; text-decoration: none !important;
}
.navigation .current {
	color: rgb(255, 255, 255) !important; text-decoration: none !important;
}
.single-navigation span a:hover {
	color: rgb(255, 255, 255) !important; text-decoration: none !important;
}
img.alignleft {
	margin: 10px 20px 5px 0px !important; float: left; display: inline;
}
img.alignright {
	margin: 10px 10px 5px 20px !important; float: right; display: inline;
}
img.aligncenter {
	margin: 10px auto !important; clear: both; display: block;
}
img.alignnone {
	
}
.entry-content img {
	max-width: 100%;
}
.comment-content img {
	max-width: 100%;
}
.widget img {
	max-width: 100%;
}
img[class*='align'] {
	height: auto;
}
img[class*='wp-image-'] {
	height: auto;
}
img[class*='attachment-'] {
	height: auto;
}
img.size-full {
	width: auto; height: auto; max-width: 100%;
}
img.size-large {
	width: auto; height: auto; max-width: 100%;
}
.entry-content embed {
	max-width: 100%;
}
.entry-content object {
	max-width: 100%;
}
.entry-content iframe {
	max-width: 100%;
}
.gallery dl {
	margin: 0px; padding: 0px;
}
.gallery dt {
	margin: 0px; padding: 0px;
}
.gallery-item {
	text-align: center;
}
.gallery-columns-1 .gallery-item {
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	margin: 2%; width: 46%;
}
.gallery-columns-3 .gallery-item {
	margin: 2%; width: 29%;
}
.gallery-columns-4 .gallery-item {
	margin: 2%; width: 21%;
}
.gallery-columns-5 .gallery-item {
	margin: 2%; width: 16%;
}
.gallery-columns-6 .gallery-item {
	margin: 2%; width: 12%;
}
.gallery .gallery-item {
	float: left;
}
.entry-attachment {
	text-align: center;
}
.wp-caption {
	padding: 0px !important; border: 0px currentColor !important; max-width: 100%;
}
.entry-attachment {
	padding: 0px !important; border: 0px currentColor !important; max-width: 100%;
}
.wp-caption img {
	background: rgb(255, 255, 255); padding: 4px; border: 1px solid rgb(221, 221, 221); height: auto; max-width: 98% !important;
}
.entry-attachment img {
	background: rgb(255, 255, 255); padding: 4px; border: 1px solid rgb(221, 221, 221); height: auto; max-width: 98% !important;
}
.gallery-thumb img {
	background: rgb(255, 255, 255); padding: 4px; border: 1px solid rgb(221, 221, 221); height: auto; max-width: 98% !important;
}
.gallery-item img {
	background: rgb(255, 255, 255); padding: 4px; border: 1px solid rgb(221, 221, 221); height: auto; max-width: 98% !important;
}
.wp-caption .wp-caption-text {
	padding: 0px !important; text-align: center; line-height: 135%; font-size: 12px; margin-top: 5px; margin-bottom: 10px; word-wrap: break-word;
}
.entry-attachment .entry-caption p {
	padding: 0px !important; text-align: center; line-height: 135%; font-size: 12px; margin-top: 5px; margin-bottom: 10px; word-wrap: break-word;
}
.gallery .gallery-caption {
	padding: 0px !important; text-align: center; line-height: 135%; font-size: 12px; margin-top: 5px; margin-bottom: 10px; word-wrap: break-word;
}
#footer {
	background: url("images/content_inner_shadow.png") repeat-x left top rgb(47, 40, 34); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(21, 21, 21) rgb(21, 21, 21); overflow: hidden;
}
#footer {
	color: rgb(119, 119, 119);
}
#footer a {
	color: rgb(170, 170, 170);
}
#supplementary {
	overflow: hidden;
}
#supplementary .widget-title {
	color: rgb(255, 255, 255); border-bottom-color: rgb(85, 85, 85);
}
#supplementary .tagcloud a {
	color: rgb(204, 204, 204) !important; background-color: rgb(85, 85, 85);
}
#supplementary .tagcloud a:hover {
	color: rgb(255, 255, 255) !important; background-color: rgb(231, 151, 3);
}
#supplementary .widget-area {
	float: left;
}
.one#supplementary .widget-area {
	margin: 0px 10px !important; width: 92% !important;
}
.two#supplementary .widget-area {
	margin: 0px 10px !important; width: 41% !important;
}
.three#supplementary .widget-area {
	margin: 0px 10px !important; width: 25% !important;
}
#supplementary .widget-area #s {
	width: 100px;
}
#supplementary .widget-area #searchsubmit {
	width: 80px;
}
#footer-credits {
	padding: 15px 0px; text-align: center; clear: both; font-size: 11px;
}
.comments-title {
	color: rgb(34, 34, 34); font-size: 14px;
}
#reply-title {
	color: rgb(34, 34, 34); font-size: 14px;
}
.comments-write-link {
	font-size: 13px; font-weight: 300;
}
.comments-write-link a {
	color: rgb(85, 85, 85);
}
.comments-write-link a:hover {
	text-decoration: underline;
}
.comment-title-container {
	margin-top: 20px; margin-bottom: 10px;
}
.comment-navigation {
	padding: 20px 0px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.commentlist li {
	padding: 20px 0px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.commentlist li li {
	padding-bottom: 0px; margin-top: 20px;
}
.commentlist ul {
	margin-left: 25px;
}
article.comment {
	overflow: hidden; clear: both;
}
article.pingback {
	overflow: hidden; clear: both;
}
.comment a:hover {
	text-decoration: underline;
}
.pingback a:hover {
	text-decoration: underline;
}
.comment-vcard {
	width: 32px; font-size: 11px; margin-right: 30px; float: left;
}
.comment-reply-link {
	margin-top: 10px; display: block;
}
.edit-link {
	margin-top: 10px; display: block;
}
.pingback-edit-link {
	font-size: 11px; margin-left: 20px;
}
.comment-body {
	width: 82%; float: left;
}
.comment-author {
	font-size: 12px;
}
.comment-awaiting-moderation {
	font-size: 12px;
}
.comment-awaiting-moderation {
	padding: 5px; border: 1px solid rgb(248, 201, 90); font-weight: 700; margin-top: 15px; background-color: rgb(255, 255, 191);
}
.comment-content {
	margin-top: 10px;
}
.comment-content {
	line-height: 165%; overflow: hidden;
}
.pingback-body {
	line-height: 165%; overflow: hidden;
}
.comment-content * {
	line-height: 165%; margin-bottom: 15px;
}
.comment-content *:last-child {
	margin-bottom: 0px;
}
.comment-content .wp-smiley {
	margin-bottom: 0px !important;
}
.comment-content br {
	margin-bottom: 0px !important;
}
.comment-content h1 {
	font-size: 24px;
}
.comment-content h2 {
	font-size: 20px;
}
.comment-content h3 {
	font-size: 17px;
}
.comment-content h4 {
	font-size: 15px;
}
.comment-content h5 {
	font-size: 13px;
}
.comment-content h6 {
	font-size: 12px;
}
.comment-content li {
	padding: 0px !important; border: 0px currentColor; margin-top: 0px !important; margin-bottom: 10px;
}
.comment-content ul {
	margin-left: 20px;
}
.comment-content ul ul {
	margin-left: 20px;
}
.comment-content ol {
	list-style: decimal; margin-left: 25px;
}
.comment-content ol ol {
	margin-left: 20px;
}
.comment-content ul ul {
	margin-top: 10px;
}
.comment-content ol ol {
	margin-top: 10px;
}
.comment-content ol ol {
	list-style: upper-alpha;
}
.comment-content ol ol ol {
	list-style: lower-roman;
}
.comment-content ol ol ol ol {
	list-style: lower-alpha;
}
.comment-content table {
	border: 1px solid rgb(204, 204, 204);
}
.comment-content table td {
	padding: 5px; border: 1px solid rgb(204, 204, 204);
}
.comment-content table th {
	padding: 5px; border: 1px solid rgb(204, 204, 204);
}
.comment-content table th {
	font-weight: 700; background-color: rgb(229, 229, 229); text-shadow: #f5f5f5 1px 1px;
}
.comment-content table caption {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor; padding: 5px;
}
.nocomments {
	margin-top: 20px;
}
.nopassword {
	margin-top: 20px;
}
#respond {
	margin-top: 20px;
}
.form-allowed-tags {
	display: none;
}
#commentform input[type='submit'] {
	background: url("images/grad.png") repeat-x left top; padding: 5px 8px 6px; border-radius: 3px; border: 1px solid currentColor; color: rgb(255, 255, 255); font-weight: 700; margin-bottom: 10px; vertical-align: middle; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
#commentform input[type='reset'] {
	background: url("images/grad.png") repeat-x left top; padding: 5px 8px 6px; border-radius: 3px; border: 1px solid currentColor; color: rgb(255, 255, 255); font-weight: 700; margin-bottom: 10px; vertical-align: middle; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
#commentform input[type='button'] {
	background: url("images/grad.png") repeat-x left top; padding: 5px 8px 6px; border-radius: 3px; border: 1px solid currentColor; color: rgb(255, 255, 255); font-weight: 700; margin-bottom: 10px; vertical-align: middle; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
#commentform input[type='text'] {
	border-width: 1px !important; border-style: solid !important; border-color: rgb(119, 119, 119) rgb(170, 170, 170) rgb(170, 170, 170) rgb(119, 119, 119) !important; padding: 5px; color: rgb(102, 102, 102); margin-bottom: 10px; vertical-align: middle;
}
#commentform input[type='password'] {
	border-width: 1px !important; border-style: solid !important; border-color: rgb(119, 119, 119) rgb(170, 170, 170) rgb(170, 170, 170) rgb(119, 119, 119) !important; padding: 5px; color: rgb(102, 102, 102); margin-bottom: 10px; vertical-align: middle;
}
#commentform textarea {
	border-width: 1px !important; border-style: solid !important; border-color: rgb(119, 119, 119) rgb(170, 170, 170) rgb(170, 170, 170) rgb(119, 119, 119) !important; padding: 5px; color: rgb(102, 102, 102); margin-bottom: 10px; vertical-align: middle;
}
#commentform p {
	margin-top: 10px;
}
#commentform input {
	margin-top: 10px; display: block;
}
#commentform textarea {
	margin-top: 10px; display: block;
}
#commentform label {
	font-weight: 700;
}
#commentform input[type='text'] {
	width: 80%;
}
#commentform input[type='password'] {
	width: 80%;
}
#commentform textarea {
	width: 80%;
}
#cancel-comment-reply-link {
	width: 70px; font-size: 12px; font-weight: 300; margin-top: 10px; display: block;
}
